In [7]:
import os
import re
import glob
import pickle
import numpy as np
import pandas as pd
import pandas.io.common
pd.set_option('display.max_columns', None)

In [8]:
#### File Path and Variables
loc_path = r'/Users/raj2.gaurav/Desktop/' 
path = loc_path + r'/Causal Model/03. Collated Data/01. Anomaly Data/'
features_path = loc_path + 'Causal Model/04. Feature Store/01. Anomaly Features/'
### Input for the Circle 
Circle= 'bihar'
monthname='Nov'
year = '2022'
Files = glob.glob(path + "/*.csv")
Files

['/Users/raj2.gaurav/Desktop//Causal Model/03. Collated Data/01. Anomaly Data/Collated_Anomaly_data.csv']

In [9]:
### Reading the Data
df=pd.read_csv(Files[0])

In [10]:
df.head()

,Circle,City,Component,Date,Hour,Total customers,Anomaly,Ratio data,Ratio voice,Ratio hsi,Cluster_issue,Data volume,Data volume formula,Data volume mean,Data volume std,Voice affected users,Voice affected users formula,Voice affected users mean,Voice affected users std,Hsi affected users,Hsi affected users formula,Hsi affected users mean,Hsi affected users std,Num_grids,Num_cells,Num_sectors,Indoor frqeqency % 850,Indoor frqeqency % 1800,Indoor frqeqency % 2300,Prb_10,Prb_10_25,Prb_25_70,Prb_70_90,Prb_90
0,mumbai,mumbai,1099,2022-11-06 00:00:00,7,15211,HSI,1,2,6,NaN,93,148,47,33,581,840,261,192,778,632,121,170,20,94,27,27,25,46,20.0,48.0,20.0,0.0,2.0
1,mumbai,mumbai,1099,2022-11-06 00:00:00,6,12283,HSI,1,2,13,NaN,54,90,27,20,310,457,137,106,729,343,55,96,20,94,27,24,23,51,51.0,33.0,4.0,0.0,2.0
2,mumbai,mumbai,1090,2022-11-06 00:00:00,14,42770,HSI,2,3,4,NaN,339,416,126,96,2400,2669,774,631,4893,4755,1164,1196,21,100,30,20,29,50,4.0,11.0,43.0,18.0,24.0
3,mumbai,mumbai,1090,2022-11-06 00:00:00,7,25173,Voice,2,3,3,NaN,129,148,47,33,847,840,261,192,377,632,121,170,21,100,30,20,25,53,23.0,40.0,32.0,5.0,0.0
4,mumbai,mumbai,1090,2022-11-06 00:00:00,13,44454,HSI,2,3,4,NaN,328,399,121,92,2679,2996,877,706,4395,4311,1046,1088,21,100,30,20,29,50,3.0,14.0,43.0,18.0,22.0

In [11]:
df['Target_Cluster']=np.where(df['Cluster_issue'].isna(),0,1)
df.rename({'Date':'Partition_date'},axis=1,inplace=True)
df['Partition_date']=df['Partition_date'].astype(str)
df['Partition_date']=df['Partition_date'].str[:10]

In [12]:
print("Shape of Anomaly Attribute Dataset After Collation:", df.shape)
df.to_parquet(features_path + 'Anomaly_features.parquet')

Shape of Anomaly Attribute Dataset After Collation: (222556, 35)